[build]
  base = "backend"
  command = "npm install && npm run build"
  publish = "backend"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
